<nav class="fixed top-0 left-0 h-16 w-full _bg-light z-20 flex items-center justify-between px-6">
    <header>
        <a href="/" class="cursor-pointer">
            <img class="w-16" src="https://i.pinimg.com/originals/36/60/b1/3660b1fbf2ecd990202c611b6a9942df.png">
        </a>
    </header>

    <div class="custom-input relative w-72">
        <span 
            class="material-icons absolute top-1/2 ml-3 _text-light-dark" 
            style="transform: translateY(-50%);"
        >search</span>
        <input 
            type="text" 
            [value]="search"
            (keyup)="setSearchCharacter($event)"
            class="w-full h-10 border-2 rounded-md outline-none pl-10 pr-4"
        >
    </div>

</nav>
<div class="mb-16"></div>