<div class="character bg-white inline-flex items-center rounded-md overflow-hidden space-x-3 px-2 w-full">
    <div class="relative">
        <span class="material-icons text-gray-500 _text-primary-dark" style="font-size: 65px; margin-top: 5px;">movie</span>
        <p class="text-sm font-bold text-white absolute top-2/4 left-2/4" style="transform: translate(-50%, -50%);">{{ episode.episode }}</p>
    </div>
    <div class="content flex flex-col justify-center w-3/5">
        
        <h4 class="text-lg font-bold _text-primary-dark truncate">{{ episode.name }}</h4>
        <span class="text-xs text-gray-600 font-medium">{{ episode.air_date }}</span>
    </div>
</div>